header img{
    height:5vw;
    width: 5vw;
}

header {
    position: sticky;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Comic Sans MS", cursive;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
}